mixin pagination(page, totalPages, width, prefix)
  -
    // вычислим начальную и конечную страницу диапазона без учёта ограничений
    let start = page - width;
    let end = page + width;

    // передвинем диапазон вправо, если он начинается с номера меньше единицы
    if(start < 1){
      end += 1 - start;
      start = 1;
    }
    // передвинем диапазон влево, если он заканчивается номером больше количества страниц
    if(end > totalPages){
      start -= end - totalPages;
      end = totalPages;
    }

    // если мы оказались в этой ветке, значит, всего страниц слишком мало. делаем начало диапазона 1
    if(start < 1){
      start = 1;
    }
    let i = start - 1

  .preview__toggle-wrapper
    ul.preview__pagination.pagination
      li
        a.pagination__button.button.button--backwards(class={'button--disabled': start === page} href=`${prefix}page=${page - 1}` aria-label='Страница назад') Назад
      while i++ < end
        li.pagination__item(class={'pagination__item--active': i === page})
          a(href=`${prefix}page=${i}`)= i
      li
        a.pagination__button.button.button--forward(class={'button--disabled': end === page} href=`${prefix}page=${page + 1}` aria-label='Страница вперед') Вперед

section.main-page__list.preview
  h2.visually-hidden Список превью статей
  ul.preview__list
    each preview in previews
      li.preview__item
        ul.preview__breadcrumbs
          each category in preview.categories
            li.preview__breadcrumbs-item
              a.preview__breadcrumbs-link(href=`/categories/${category.id}`) #{category.name}
        div.preview__background
          img.preview__background-image(src=`/img/${preview.picture}` width='460' height='240' alt='Фотография небоскреба')
        time.preview__time(datetime=`${preview.createdAt}`) #{preview.createdAt}
        h3.preview__name
          a.preview__name-link(href=`/publications/${preview.id}`) #{preview.title}
        p.preview__text #{preview.announcement}
        if preview.comments
          a.preview__comment(href='#')
            | Комментарии
            span.preview__cloud
            |
            b.preview__comment-count #{preview.comments.length}
  +pagination(page, totalPages, 2, `?`)
