extends layout

block content
  main.main-page
    h1.visually-hidden= hiddenTitle
    p= description
    if hasContent
      section.main-page__theme-list
        h2.visually-hidden Список тем
        include ../common/themes
      include ../common/section-flex/section-flex
      include ../common/article-preview-list/article-preview-list
    else
      include ../common/empty/empty-section
