extends layout

block content
  - const hasResults = Boolean(results.length)
  main
    section.search-page
      div(class=`search-page__wrapper ${!hasResults ? ` search-page__wrapper--empty` : ``}`)
        h1 Поиск
        .search.search-page__form
          form(method='get' action='/search')
            label
              input(value=`${searchValue || ``}` type="search" name="search" placeholder='Что ищем?')
            button.search__button.button.button--transparent(type='submit') Найти
          each result in results
            div.search__result
              time.search__date(datetime=result.createdAt) #{result.createdAt}
              a.search__link(href=`/publications/${result.id}`) #{result.title}
        if !hasResults
          p.search-page__empty Ничего не нашлось