extends ../layout

block content
  - const isEdit = Boolean(publication.id);
  main
    section
      div.popup.popup--new-publication.popup--anti
        div.new-publication
          form(action=`/publications/${isEdit ? 'edit' + '/' + publication.id : 'add'}` method=`POST` enctype="multipart/form-data" autocomplete="off")
            input(type="text" name='publicationId' value=publication.id hidden)
            div.new-publication__header
              h1 #{isEdit ? `Редактирование публикаци` : `Новая публикация`}
              div.new-publication__date-form
                h3 Дата публикации
                div.new-publication__date-form-division
                  div.new-publication__date-block
                    label(for='new-publication-date' aria-label='Календарь')
                    input#new-publication-date(type='text' name='createdDate' placeholder='2021-03-21' required)
              button.new-publication__button.button.button--colored(type='submit') Опубликовать
            button.popup__button.button.button--popup-close(type='button' aria-label='Закрыть окно') Закрыть окно
            div.new-publication__form.form
              div.form__wrapper.form__wrapper--intro
                div.form__field
                  label
                    input(type='text' name='title' placeholder='Заголовок' value=publication.title required)
                div.form__field.form__field--post-image
                  label
                    input#image-name-field(type='text' name='photo' placeholder='Фотография')
                  div.form__image-loader.form__image-loader--publication
                    label
                      input.visually-hidden(type='file' name='avatar')
                      | Обзор
                  button.button.button--transparent Удалить
                div.new-publication__category-wrapper
                  each category in categories
                    div.new-publication__checkbox.new-publication__checkbox--auto
                      - const isChecked = isEdit && publication.categories.map(item => item.id).includes(category.id)
                      input(id=category.id type='checkbox' name="categories" value=category.name checked=isChecked)
                      label(for=category.id) #{category.name}
                  a.new-publication__form-link.button.button--transparent(href='#') Добавить категорию
              div.form__wrapper.form__wrapper--text
                div.form__field.form__field--publication-text
                  label
                    textarea(name='announcement' rows='2' placeholder='Анонс публикации' required) #{publication.announcement}
                div.form__field.form__field--publication-text
                  label
                    textarea(name='text' rows='5' placeholder='Полный текст публикации') #{publication.text}
            each message in validationMessages
              p #{message}
