extends ../layout

block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        div.post__wrapper
          div.post__head
            a.post__backwards.button.button--backwards(href='/') Назад
            time.post__date(datetime=publication.createdAt) #{publication.createdAt}
            h2.post__title.title.title--main #{publication.title}

            include ../../common/themes

          div.post__picture
            img(src= `img/${publication.image.fileName}` alt= publication.image.alt)
          div.post__text
            h3 #{publication.announcement}
            p #{publication.text}
      div.post__wrapper.post__wrapper--comments
        section.post__comments.comments
          h2.comments__title.title.title--middle #{comments.length ? `Комментарии` : `Комментарии отсутствуют`}
          ul.comments__list
            each comment in comments
              li.comments__comment
                div.comments__avatar.avatar
                  img(src='img/avatar-1.png' alt='Аватар пользователя')
                div.comments__text
                  div.comments__head
                    p Евгений Петров •
                    time.comments__date(datetime=comment.createdAt) #{comment.createdAt}
                  p.comments__message= comment.text
          if !account
            div.comments__footer.comments__footer--visitor
              button.comments__button.button.button--colored(type=`submit` ) Войти
              div.comments__registration
                p.text.text--signature
                  b.title.title--small Регистрация
                  | Чтобы присоединиться к переписке нужно зарегистрироваться
          else if account.type === `user`
            div.comments__footer.comments__footer--user
              form(action='/publications/comments/add' method='POST')
                input(type='text' name='publicationId' value=`${publication.id}` hidden)
                .avatar
                  img(src= account.avatar alt='Аватар пользователя')
                label
                  textarea(rows='1' placeholder='Присоединиться к обсуждению' name="comment")
                button.comments__button.button.button--colored(type='submit') Опубликовать
              each message in validationMessages
                p #{message}